<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sosobsservice.dao.ObservationMapper">
    <sql id="insertFields">
        proc_id, obs_name, obs_des, obs_time, begin_time, end_time, bbox, geom, obs_property, obs_type, mapping, out_id,geo_type
    </sql>

    <sql id="selectFields">
        id, proc_id, obs_name, obs_des, obs_time, begin_time, end_time, bbox, obs_property, obs_type, mapping, out_id,geo_type
    </sql>

    <insert id="insertData" parameterType="Observation">
        INSERT INTO observation (<include refid="insertFields"></include>)
        VALUES (#{procedureId}, #{name}, #{description}, #{obsTime}, #{beginTime}, #{endTime}, #{bbox}, ST_GeomFromText(#{wkt}, 4326), #{obsProperty}, #{type}, #{mapping}, #{outId},#{geoType})
    </insert>

    <insert id="insertDataBatch" parameterType="java.util.List">
        INSERT INTO observation (<include refid="insertFields"></include>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.procedureId}, #{item.name}, #{item.description}, #{item.obsTime}, #{item.beginTime}, #{item.endTime}, #{item.bbox}, ST_GeomFromText(#{item.wkt}, 4326), #{item.obsProperty}, #{item.type}, #{item.mapping}, #{item.outId},#{item.geoType})
        </foreach>
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM observation
        WHERE proc_id = #{procedureId}
    </delete>

    <select id="selectNum" resultType="java.lang.Integer">
        SELECT count(*)
        FROM observation
    </select>

    <select id="selectByPage" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
    </select>

    <select id="selectByProcedureId" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE proc_id = #{procedureId}
    </select>

    <select id="selectByObsType" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE obs_type = #{type}
    </select>

    <select id="selectByObsProp" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE obs_property = #{obsProperty}
    </select>

    <select id="selectByObsTime" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE obs_time <![CDATA[<=]]> #{obsTime}
    </select>

    <select id="selectByTemporal" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE begin_time <![CDATA[>=]]> #{begin} AND end_time <![CDATA[<=]]> #{end}
    </select>

    <select id="selectByTemAndSpaAndType" parameterType="java.util.List" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE begin_time <![CDATA[>=]]> #{begin} AND end_time <![CDATA[<=]]> #{end} AND obs_type = #{type} AND
        <foreach collection="cityIds" item="item" index="index" separator="OR" open="(" close=")">
            <if test="spa == '武汉城市圈'">
                ST_Intersects(geom, (SELECT geom FROM wuhancitycircle WHERE gid = #{item})) = true
            </if>
            <if test="spa == '全国'">
                ST_Intersects(geom, (SELECT geom FROM china_1984_mian WHERE gid = #{item})) = true
            </if>
            <if test="spa == '长江经济带'">
                ST_Intersects(geom, (SELECT geom FROM changjiang WHERE gid = #{item})) = true
            </if>
        </foreach>
    </select>

    <select id="selectByTemAndSpaAndTypeNew" parameterType="java.util.List" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE begin_time <![CDATA[>=]]> #{begin} AND end_time <![CDATA[<=]]> #{end} AND obs_type = #{type} AND
        <if test="spa == '武汉城市圈'">
            geo_type = 1
        </if>
        <if test="spa == '全国'">
            geo_type = 3 or geo_type = 1 or geo_type = 2
        </if>
        <if test="spa == '长江经济带'">
            geo_type = 2 or geo_type = 1
        </if>
    </select>

    <select id="selectByTimeAndSpa" parameterType="java.util.List" resultMap="observationNew">
        SELECT  begin_time,end_time,obs_type,out_id
        FROM observation
        WHERE begin_time <![CDATA[>=]]> #{begin} AND end_time <![CDATA[<=]]> #{end} AND
        <if test="spa == '武汉城市圈'">
            geo_type = 1
        </if>
        <if test="spa == '全国'">
            geo_type = 3 or geo_type = 1 or geo_type = 2
        </if>
        <if test="spa == '长江经济带'">
            geo_type = 2 or geo_type = 1
        </if>
    </select>


    <select id="selectByTemAndType" parameterType="java.util.List" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE begin_time <![CDATA[>=]]> #{begin} AND end_time <![CDATA[<=]]> #{end} AND obs_type = #{type}
    </select>


    <select id="selectWHSpa" parameterType="java.util.List" resultType="boolean">
            SELECT ST_Intersects(ST_GeomFromText(#{wkt}, 4326), (SELECT geom FROM wuhancitycircle))
    </select>

    <select id="selectCHSpa" parameterType="java.util.List" resultType="boolean">
            SELECT ST_Intersects(ST_GeomFromText(#{wkt}, 4326), (SELECT geom FROM china_1984_mian))
    </select>

    <select id="selectCJSpa" parameterType="java.util.List" resultType="boolean">
            SELECT ST_Intersects(ST_GeomFromText(#{wkt}, 4326), (SELECT geom FROM changjiang))
    </select>


    <select id="selectBySpatial" resultMap="observation">
        SELECT <include refid="selectFields"></include>
        FROM observation
        WHERE ST_Intersects(ST_GeomFromText(#{bbox}, 4326), geom) = true
    </select>

    <select id="selectCityIdInWuCityCircle" resultType="int">
        SELECT gid
        FROM wuhancitycircle
    </select>

    <select id="selectCityIdInChina" resultType="int">
        SELECT gid
        FROM china_1984_mian
    </select>

    <select id="selectCityIdInChangjiang" resultType="int">
        SELECT gid
        FROM changjiang
    </select>


<!--            <if test="spa == 'wuhanCC'">-->
<!--                ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true-->
<!--            </if>-->
<!--            <if test="spa == 'yangtzeRiverEB'">-->
<!--                ST_Intersects(geom, (SELECT geom FROM changjiang)) = true-->
<!--            </if>-->
<!--            <if test="spa == 'china'">-->
<!--                ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true-->
<!--            </if>-->



    <select id="getDataBySpa" resultType="java.lang.String">
        SELECT station_id from station where stype = #{dataType}
        <if test="id != null">
            AND station_id = #{id}
        </if>
        <if test="spa == 'wuhanCC'">
            AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
        </if>
        <if test="spa == 'yangtzeRiverEB'">
            AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
        </if>
        <if test="spa == 'china'">
            AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
        </if>
    </select>


    <select id="getDataByPage" resultType="java.util.Map">
        <if test="dataType == 'UHD185'">
            SELECT *
            FROM uav_image where 1=1
            <if test="start != null">
                AND create_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND create_time <![CDATA[<=]]> #{end}
            </if>
            order by create_time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Landsat'">
            SELECT  *  FROM landsat  where 1=1
            <if test="start != null">
                AND date <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND date <![CDATA[<=]]> #{end}
            </if>

            <if test="spa == 'wuhanCC'">
                AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
            </if>
            <if test="spa == 'yangtzeRiverEB'">
                AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
            </if>
            <if test="spa == 'china'">
                AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
            </if>
            ORDER BY date DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Sentinel'">
            SELECT  *  FROM sentinel where imagetype = 'S2MSI1C'
            <if test="start != null">
                AND date <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND date <![CDATA[<=]]> #{end}
            </if>
            <if test="spa == 'wuhanCC'">
                AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
            </if>
            <if test="spa == 'yangtzeRiverEB'">
                AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
            </if>
            <if test="spa == 'china'">
                AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
            </if>
            ORDER BY date DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Sentinel5'">
            SELECT  *  FROM sentinel where imagetype = 'L2__NO2___'
            <if test="start != null">
                AND date <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND date <![CDATA[<=]]> #{end}
            </if>
            <if test="spa == 'wuhanCC'">
                AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
            </if>
            <if test="spa == 'yangtzeRiverEB'">
                AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
            </if>
            <if test="spa == 'china'">
                AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
            </if>
            ORDER BY date DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Modis'">
            SELECT * FROM entry where 1=1
            <if test="start != null">
                AND start_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND start_time <![CDATA[<=]]> #{end}
            </if>
            ORDER BY start_time DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'FY4'">
            SELECT *
            FROM satellite_image  where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
            order by time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'GLDAS'">
            SELECT *
            FROM gldas where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
            order by time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Himawari'">
            SELECT * FROM himawari where 1=1
            <if test="start != null">
                AND h_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND h_time <![CDATA[<=]]> #{end}
            </if>
            ORDER BY h_time DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'GPM'">
            SELECT *
            FROM gpm_3imergde where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
            ORDER BY time DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'HB_Air'">
            SELECT *
            FROM "wuhanCC_air_hourly" where 1=1
            <if test="start != null">
                AND querytime <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND querytime <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND uniquecode in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by querytime desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'HB_SuperAir'">
            SELECT   "ST","ST_NA","TIMES","EPNAME","SVALUE"
            FROM "wuhanCC_super_station_hourly" where 1=1
            <if test="start != null">
                AND "TIMES" <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND "TIMES" <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND "ST" in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by "TIMES" desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'HB_Water'">
            SELECT  *
            FROM hb_water_hourly where 1=1
            <if test="start != null">
                AND "dataTime" <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND "dataTime" <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND "siteId" in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by "dataTime" desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'HB_WaterPollution'">
            SELECT  *
            FROM hb_waterpollution where 1=1
            <if test="start != null">
                AND monitoring_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND monitoring_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_name in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by monitoring_time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'HB_WaterAuto'">
            SELECT *
            FROM wh_water_quality_auto where 1=1
            <if test="start != null">
                AND query_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND query_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND section_name in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            ORDER BY query_time DESC
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'TW_Air'">
            SELECT *
            FROM taiwan_air_hourly where
            <if test="start != null">
                tw_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND tw_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND site_id in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by tw_time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'CH_Air'">
            SELECT *
            FROM china_air_hourly where 1=1
            <if test="start != null">
                AND time_point <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time_point <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_code in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by time_point desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'WH_Weather'">
            SELECT *
            FROM "wuhanCC_weather_hourly" where 1=1
            <if test="start != null">
                AND "QueryTime" <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND "QueryTime" <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND "StationID" in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by "QueryTime" desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})

        </if>
        <if test="dataType == 'HB_Weather'">
            SELECT *
            FROM hb_weather_station_hourly where 1=1
            <if test="start != null">
                AND response_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND response_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_name in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by response_time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'CH_Weather'">
            SELECT *
            FROM china_meteorological_network where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_id in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'TXZ_Station'">
            SELECT *
            FROM tianxingzhou_station where 1=1
            <if test="start != null">
                AND querytime <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND querytime <![CDATA[<=]]> #{end}
            </if>
            order by querytime desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Air_Sensor'">
            SELECT *
            FROM sensors_data_copy1 where 1=1
            <if test="start != null">
                AND sample_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND sample_time <![CDATA[<=]]> #{end}
            </if>
            order by sample_time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
        <if test="dataType == 'Weather_Sensor'">
            SELECT *
            FROM big_sensors_data where 1=1
            <if test="start != null">
                AND sample_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND sample_time <![CDATA[<=]]> #{end}
            </if>
            order by sample_time desc
            LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
        </if>
    </select>



    <select id="getDataNum" resultType="java.lang.Integer">
        <if test="dataType == 'UHD185'">
            SELECT count(*) FROM uav_image where 1=1
            <if test="start != null">
                AND create_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND create_time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'Landsat'">
            SELECT count(*) FROM landsat where 1=1
            <if test="start != null">
                AND date <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND date <![CDATA[<=]]> #{end}
            </if>
            <if test="spa == 'wuhanCC'">
                AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
            </if>
            <if test="spa == 'yangtzeRiverEB'">
                AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
            </if>
            <if test="spa == 'china'">
                AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
            </if>
        </if>
        <if test="dataType == 'Sentinel'">
            SELECT count(*) FROM sentinel where imagetype = 'S2MSI1C'
            <if test="start != null">
                AND date <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND date <![CDATA[<=]]> #{end}
            </if>
            <if test="spa == 'wuhanCC'">
                AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
            </if>
            <if test="spa == 'yangtzeRiverEB'">
                AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
            </if>
            <if test="spa == 'china'">
                AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
            </if>
        </if>
        <if test="dataType == 'Sentinel5'">
            SELECT count(*) FROM sentinel where imagetype = 'L2__NO2___'
            <if test="start != null">
                AND date <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND date <![CDATA[<=]]> #{end}
            </if>
            <if test="spa == 'wuhanCC'">
                AND ST_Intersects(geom, (SELECT geom FROM wuhancitycircle)) = true
            </if>
            <if test="spa == 'yangtzeRiverEB'">
                AND ST_Intersects(geom, (SELECT geom FROM changjiang)) = true
            </if>
            <if test="spa == 'china'">
                AND ST_Intersects(geom, (SELECT geom FROM china_1984_mian)) = true
            </if>
        </if>
        <if test="dataType == 'Modis'">
            SELECT count(*) FROM entry where 1=1
            <if test="start != null">
                AND start_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND start_time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'FY4'">
            SELECT count(*)
            FROM satellite_image where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'GLDAS'">
            SELECT count(*)
            FROM gldas where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'Himawari'">
            SELECT count(*) FROM himawari where 1=1
            <if test="start != null">
                AND h_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND h_time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'GPM'">
            SELECT count(*)
            FROM gpm_3imergde where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'HB_Air'">
            SELECT count(*)
            FROM "wuhanCC_air_hourly" where 1=1
            <if test="start != null">
                AND querytime <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND querytime <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND uniquecode in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'HB_SuperAir'">
            SELECT  count(*)
            FROM "wuhanCC_super_station_hourly" where 1=1
            <if test="start != null">
                AND "TIMES" <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND "TIMES" <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND "ST" in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>

        </if>
        <if test="dataType == 'HB_Water'">
            SELECT  count(*)
            FROM hb_water_hourly where 1=1
            <if test="start != null">
                AND "dataTime" <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND "dataTime" <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0 ">
                AND "siteId" in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'HB_WaterPollution'">
            SELECT  count(*)
            FROM hb_waterpollution where 1=1
            <if test="start != null">
                AND monitoring_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND monitoring_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_name in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'HB_WaterAuto'">
            SELECT count(*)
            FROM wh_water_quality_auto where 1=1
            <if test="start != null">
                AND query_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND query_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND section_name in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'TW_Air'">
            SELECT count(*)
            FROM taiwan_air_hourly where
            <if test="start != null">
                tw_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND tw_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND site_id in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'CH_Air'">
            SELECT count(*)
            FROM china_air_hourly where 1=1
            <if test="start != null">
                AND time_point <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time_point <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_code in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'WH_Weather'">
            SELECT count(*)
            FROM "wuhanCC_weather_hourly" where 1=1
            <if test="start != null">
                AND "QueryTime" <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND "QueryTime" <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND "StationID" in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'HB_Weather'">
            SELECT count(*)
            FROM hb_weather_station_hourly where 1=1
            <if test="start != null">
                AND response_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND response_time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_name in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'CH_Weather'">
            SELECT count(*)
            FROM china_meteorological_network where 1=1
            <if test="start != null">
                AND time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND time <![CDATA[<=]]> #{end}
            </if>
            <if test="id != null and id.size()>0">
                AND station_id in
                <foreach collection="id" item="id"  open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </if>
        <if test="dataType == 'TXZ_Station'">
            SELECT count(*)
            FROM tianxingzhou_station where 1=1
            <if test="start != null">
                AND querytime <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND querytime <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'Air_Sensor'">
            SELECT count(*)
            FROM sensors_data_copy1 where 1=1
            <if test="start != null">
                AND sample_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND sample_time <![CDATA[<=]]> #{end}
            </if>
        </if>
        <if test="dataType == 'Weather_Sensor'">
            SELECT count(*)
            FROM big_sensors_data where 1=1
            <if test="start != null">
                AND sample_time <![CDATA[>=]]> #{start}
            </if>
            <if test="end != null ">
                AND sample_time <![CDATA[<=]]> #{end}
            </if>
        </if>
    </select>


    <select id="getStatisticsByPage" resultType="java.util.Map">
        select a.id,
               a.monitoring_type,
               a.data_type,
               a.sensor_platform,
               a.protocol,
               a.monitoring_info,
               a.area,
               a.station_total,
               b.data_total,
               b.start_time,
               b.end_time,
               a.update_frequency,
               a."table"
        from data_download_type a
                 left join (select *
                            from data_download_statistics d
                            where d.id in (
                                select max(dd.id)
                                from data_download_statistics dd
                                where 1=1
                                <if test="start != null">
                                    AND dd.start_time is not null AND dd.start_time <![CDATA[>=]]> #{start}
                                </if>
                                <if test="end != null">
                                    AND dd.end_time is not null AND dd.end_time <![CDATA[<=]]> #{end}
                                </if>
                                group by dd.did
                            )
                     ) b on a.id = b.did
                        where 1=1
                        <if test="dataType != null">
                            AND a.data_type LIKE #{dataType}
                        </if>
                        <if test="spa != null">
                            AND a.area LIKE #{spa}
                        </if>
                    order by a.id asc
                 LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
    </select>

    <select id="getStatisticsNum" resultType="java.lang.Integer">
        select count(1)
        from data_download_type a
                 left join (select *
                            from data_download_statistics d
                            where d.id in (
                                select max(dd.id)
                                from data_download_statistics dd
                                where 1=1
                                <if test="start != null">
                                    AND dd.start_time is not null AND dd.start_time <![CDATA[>=]]> #{start}
                                </if>
                                <if test="end != null">
                                    AND dd.end_time is not null AND dd.end_time <![CDATA[<=]]> #{end}
                                </if>
                                group by dd.did
                               )
                            ) b on a.id = b.did
        where 1=1
        <if test="dataType != null">
            AND a.data_type LIKE #{dataType}
        </if>
        <if test="spa != null">
            AND a.area LIKE #{spa}
        </if>
    </select>


    <resultMap id="observation" type="Observation">
        <id property="id" column="id"/>
        <result property="procedureId" column="proc_id"/>
        <result property="name" column="obs_name"/>
        <result property="description" column="obs_des"/>
        <result property="obsTime" column="obs_time"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="bbox" column="bbox"/>
        <result property="obsProperty" column="obs_property"/>
        <result property="type" column="obs_type"/>
        <result property="mapping" column="mapping"/>
        <result property="outId" column="out_id"/>
    </resultMap>


    <resultMap id="observationNew" type="Observation">
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="type" column="obs_type"/>
        <result property="outId" column="out_id"/>
    </resultMap>

</mapper>